.menu {

    color :white;
    background-color :black;
    padding: 5px;

}

a:link {
  color: #ffffff;
}

a:visited {
  color: #ffffff;
}

a:hover {
  color: #ffffff;
}

a:active {
  color: #ffffff;
}

.logo {
  display: flex;
   width: 25%;
   
  }

  .promo {

    width: 100%;

  }

  .IT {

    width: 25%;
    height: 25%;
    ;

  }

  .jardin{
    display: flex;
    width: 65%;
    justify-content: space-around;
  }

  table {
    border-width:1px; 
    border-style:solid; 
    border-color:black;
    width:50%;
    text-align: center;
    }
   td { 
    border-width:1px;
    border-style:solid; 
    border-color:rgb(0, 0, 0);
    width:50%;
    text-align: center;
    }
